<web-app version="3.1" metadata-complete="true">

    <!-- Application -->

    <servlet>
        <servlet-name>QlueServlet</servlet-name>
        <servlet-class>com.webkreator.qlue.QlueServlet</servlet-class>
        <init-param>
            <param-name>QLUE_APP_CLASS</param-name>
            <param-value>com.webkreator.qlue.example_app.ExampleApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>QlueServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
        <cookie-config>
            <!-- <secure>true</secure> -->
            <http-only>true</http-only>
        </cookie-config>
    </session-config>

    <!-- Error page handling
    <servlet>
        <servlet-name>QlueErrorPageServlet</servlet-name>
        <servlet-class>com.webkreator.qlue.util.QlueErrorPageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>QlueErrorPageServlet</servlet-name>
        <url-pattern>/_qlue_error_page/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/_qlue_error_page/handleError</location>
    </error-page>
    -->

</web-app>